.light {
    position: absolute;
    width: 270px;
    height: 249px;
    border-radius: 32px;
    opacity: 1;
    z-index: -1;
}

.l1 {
    left: 531px;
    top: calc(-93px + 870px);
    width: 291px;
    background: #B1BFFE;
    filter: blur(64px);
    transform: rotate(146.9deg);
}

.l2 {
    left: -294px;
    top: calc(315px + 870px);
    width: 497px;
    background: #EBFF79;
    filter: blur(64px);
    transform: rotate(-12deg);
}

.l3 {
    left: 850px;
    top: calc(281px + 870px);
    width: 227px;
    background: #AA80EC;
    filter: blur(64px);
    transform: rotate(17deg);
}

.l4 {
    left: 1415px;
    top: calc(656px + 870px);
    width: 270px;
    background: #ADC0FC;
    filter: blur(64px);
    transform: rotate(-15deg);
}

.l5 {
    left: 210px;
    top: calc(835px + 870px);
    width: 398px;
    background: #AA80EC;
    filter: blur(64px);
    transform: rotate(35deg);
}

.l6 {
    left: -113px;
    top: calc(1664px + 870px);
    background: #ADC0FC;
    filter: blur(64px);
    transform: rotate(-15deg);
}

.l7 {
    left: 460px;
    top: calc(1409px + 870px);
    width: 227px;
    background: #AA80EC;
    filter: blur(64px);
    transform: rotate(17deg);
}

.l8 {
    top: calc(1459px + 870px);
    left: 1230px;
    width: 497px;
    background: #EBFF79;
    filter: blur(64px);
    transform: rotate(-25deg);
}

.l9 {
    left: 1103px;
    top: calc(1932px + 870px);
    width: 398px;
    background: #AA80EC;
    filter: blur(90px);
    transform: rotate(30deg);
}

.l10 {
    left: 359px;
    top: calc(2426px + 870px);
    width: 497px;
    background: #EBFF79;
    filter: blur(90px);
    transform: rotate(15deg);
}

.l11 {
    left: -255px;
    top: calc(2529px + 870px);
    width: 227px;
    background: #AA80EC;
    filter: blur(90px);
    transform: rotate(17deg);
}

.l12 {
    left: -8px;
    top: calc(2984px + 870px);
    width: 398px;
    background: #AA80EC;
    filter: blur(60px);
    transform: rotate(120deg);
}

.l13 {
    left: 298px;
    top: calc(3618px + 870px);
    width: 497px;
    background: #EBFF79;
    filter: blur(90px);
    transform: rotate(15deg);
}

.l14 {
    left: -228px;
    top: calc(4041px + 870px);
    background: #ADC0FC;
    filter: blur(90px);
    transform: rotate(-15deg);
}

.l15 {
    left: 909px;
    top: calc(4669px + 870px);
    background: #ADC0FC;
    filter: blur(80px);
    transform: rotate(-15deg);
}

.l16 {
    left: 1439px;
    top: calc(3474px + 870px);
    width: 1087px;
    height: 934px;
    background: #AA80EC;
    border-radius: 361.59px;
    filter: blur(227px);
    transform: rotate(-37.86deg);
}

.l17 {
    left: -312px;
    top: calc(4813px + 870px);
    width: 398px;
    background: #AA80EC;
    filter: blur(90px);
    transform: rotate(-60deg);
}

.l18 {
    left: 1677px;
    top: calc(2711px + 870px);
    background: #ADC0FC;
    filter: blur(90px);
    transform: rotate(-15deg);
}


@media (max-width: 1800px) {
    .l1 {
        top: calc(-93px + 870px - 200px);
    }

    .l2 {
        top: calc(315px + 870px - 200px);
    }

    .l3 {
        top: calc(281px + 870px - 200px);
    }

    .l4 {
        top: calc(656px + 870px - 200px);
    }

    .l5 {
        top: calc(835px + 870px - 200px);
    }

    .l6 {
        top: calc(1664px + 870px - 200px);
    }

    .l7 {
        top: calc(1409px + 870px - 200px);
    }

    .l8 {
        top: calc(1459px + 870px - 200px);
    }

    .l9 {
        top: calc(1932px + 870px - 200px);
    }

    .l10 {
        top: calc(2426px + 870px - 200px);
    }

    .l11 {
        top: calc(2529px + 870px - 200px);
    }

    .l12 {
        top: calc(2984px + 870px - 200px);
    }

    .l13 {
        top: calc(3618px + 870px - 200px);
    }

    .l14 {
        top: calc(4041px + 870px - 200px);
    }

    .l15 {
        top: calc(4669px + 870px - 200px);
        display: none;
    }

    .l16 {
        top: calc(3474px + 870px - 280px);
    }

    .l17 {
        top: calc(4813px + 870px - 200px);
        display: none;
    }

    .l18 {
        top: calc(2711px + 870px - 200px);
    }
}

@media (max-width: 1350px) {
    .l1 {
        top: calc(-93px + 870px - 140px);
    }

    .l2 {
        top: calc(315px + 870px - 220px);
    }

    .l3 {
        top: calc(281px + 870px - 140px);
    }

    .l4 {
        top: calc(656px + 870px - 140px);
    }

    .l5 {
        top: calc(835px + 870px - 140px);
    }

    .l6 {
        top: calc(1664px + 870px - 140px);
    }

    .l7 {
        top: calc(1409px + 870px - 140px);
    }

    .l8 {
        top: calc(1459px + 870px - 470px);
    }

    .l9 {
        top: calc(1932px + 870px + 143px);
    }

    .l10 {
        top: calc(2426px + 870px - 140px);
    }

    .l11 {
        top: calc(2529px + 870px - 140px);
    }

    .l12 {
        top: calc(2984px + 870px - 140px);
    }

    .l13 {
        top: calc(3618px + 870px + 340px);
        display: none;
    }

    .l14 {
        top: calc(4041px + 870px - 140px);
        display: none;
    }

    .l15 {
        top: calc(4669px + 870px - 140px);
        display: none;
    }

    .l16 {
        top: calc(3474px + 870px - 270px);
        display: none;
    }

    .l17 {
        top: calc(4813px + 870px - 140px);
        display: none;
    }

    .l18 {
        top: calc(2711px + 870px - 140px);
    }
}

    @media (max-width: 1050px) {
        .l1 {
            top: calc(-93px + 870px - 450px);
        }

        .l2 {
            top: calc(315px + 870px - 450px);
        }

        .l3 {
            top: calc(281px + 870px - 450px);
        }

        .l4 {
            top: calc(656px + 870px - 450px);
        }

        .l5 {
            top: calc(835px + 870px - 450px);
        }

        .l6 {
            top: calc(1664px + 870px - 450px);
        }

        .l7 {
            top: calc(1409px + 870px - 450px);
        }

        .l8 {
            top: calc(1459px + 870px - 470px);
        }

        .l9 {
            top: calc(1932px + 870px - 450px);
        }

        .l10 {
            top: calc(2426px + 870px + 310px);
        }

        .l11 {
            top: calc(2529px + 870px - 450px);
        }

        .l12 {
            top: calc(2984px + 870px - 450px);
            display: none;
        }
    }

    @media (max-width: 800px) {
        .l10 {
            top: calc(2426px + 870px + 980px);
            left: 247px;
        }
    }


