@media (max-width: 1350px) {
    .container {
        max-width: 960px;
    }

    h1 {
        font-size: 48px;
    }


    header .top {
        margin-bottom: 209px;
    }

    header .top p {
        font-size: 24px;
    }

    header .bottom p {
        max-width: 500px;
    }

    header .bottom .headerBottomImg {
        position: absolute;
        right: -154px;
        top: -127px;
        width: 713px;
        object-fit: cover;
        z-index: -1;
    }

    header .bottom h1 {
        margin-bottom: 24px;
    }

    header .bottom {
        margin-top: 139px;
    }


    .controlAll, .improvingCosts, .aplicationSettings {
        background: url(img/substrate.png) no-repeat center center;
        display: none;
        gap: 40px;
        align-items: center;
        width: 960px;
        height: 499px;
        position: relative;
        border-radius: 80px;
    }

    .controlAllImg, .aplicationSettingsImg {
        background-size: calc(501px * 1.5) calc(293px * 1.5);
        background-position: -130px 66px;
    }

    .improvingCostsImg {
        background-size: calc(501px * 1.4) calc(293px * 1.4);
        background-position: -202px 11px;
    }


    .pagination-dots {
        margin: 24px 0 156px 0;
    }
    .dot {
        width: 20px;
        height: 20px;
    }

    .aboutUs {
        margin-bottom: 64px;
    }

    .feature-card {
        padding: 23px;
    }
    .feature-card h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .feature-card p {
        margin-bottom: 50px;
        font-size: 16px;
    }
    .feature-num {
        font-size: 24px;
    }

    .features {
        margin-bottom: 200px;
    }


    .topics h1 {
        margin-bottom: calc((130px + 65px) / 2);
    }

    .reviews h1 {
        margin-top: calc((178px + 268px) / 2);
        margin-bottom: 40px;
    }


    .swiper-slide {
        width: 468px !important;
    }

    .reviews-swiper .swiper-pagination-bullet {
        width: 39px;
        height: 6px;
    }


    .feedback h1 {
        margin-top: 200px;
    }

    .feedback button {
        padding: 20px 83px;
    }
    
    .feedback button {
        margin-bottom: 200px;
    }


    .wrapElFooter {
        padding: 55px 0;
    }
    footer .top {
        margin-bottom: 59px;
    }
    .columnEl:nth-of-type(2) {
        right: 10px;
    }
    .columnEl:nth-of-type(3) {
        left: 20px;
    }

    .noClick, .columnEl a {
        font-size: 20px;
    }

    .linksToSocial svg {
        width: 41px;
        height: 41px;
    }

    .mobileBtn {
        display: none;
    }
    
}