@media (max-width: 1350px) {
    .container:not(.wrapHr1, .wrapHr2, .areas-service-content) {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .BeforeAfter-card:nth-child(odd)::before {
        top: 4%;
        letter-spacing: -9px;
    }

    .BeforeAfter-card:nth-child(even)::before {
        top: 4%;
        letter-spacing: 4px;
    }
    .wrapHr2 {
        padding-left: 136px;
        padding-right: 158px;
    }
}

@media (max-width: 1250px) {
    header {
        padding: 64px 0 80px;
    }

    .header-left h1 {
        font-size: 104px;
    }

    .header-left h2 {
        font-size: 72px;
        margin: 74px 0 40px;
    }

    .header-left .btnTextMe,
    .modal-content .btnTextMe {
        padding: 21px 75px;
    }

    .header-left .btnTextMe div {
        font-size: 32px;
    }

    .header-right picture {
        max-width: 417px;
    }

    .aboutMe {
        gap: 56px;
    }

    .aboutMe h3,
    .services h3,
    .areas-service h3,
    .BeforeAfter h3,
    .reviews h3 {
        font-size: 56px;
    }


    .services-grid {
        gap: 28px;
    }

    .services-card h4 {
        font-size: 24px;
    }

    .services-card-img {
        width: 290px;
        height: 290px;
    }

    .services-light {
        left: 25%;
        width: 190px;
        height: 190px;
    }

    .areas-service h3 {
        margin-top: 140px;
        margin-bottom: 67px;
    }

    .point-wrap>div {
        width: 32px;
        height: 32px;
    }

    .point-wrap p {
        font-size: 24px;
    }

    .areas-service hr:first-of-type {
        margin-bottom: 5px;
    }

    .wrapHr1 .point-wrap {
        gap: 16px;
        top: -24px;
    }
    .wrapHr2 .point-wrap {
        gap: 16px;
        top: -20px;
    }
    
    .wrapHr2 {
        padding-left: 94px;
        padding-right: 128px;
    }

    .BeforeAfter-card:nth-child(odd)::before {
        top: 10%;
        left: -54px;
        font-size: 32px;
        letter-spacing: 2px;
    }

    .BeforeAfter-card:nth-child(even)::before {
        top: 12%;
        letter-spacing: 5px;
        font-size: 32px;
        right: -55px;
    }

    .reviews-card {
        padding: 32px;
        border-radius: 32px;
        max-width: 491px;
        font-size: 16px;
    }

    .getInTouch h3 {
        font-size: 200px;
        letter-spacing: -3px;
    }

    .form-group input,
    .form-group textarea {
        padding: 10px 16px;
        border-radius: 8px;
        background-color: #F1F1F1;
        font-size: 16px;
    }

    .getInTouch form {
        gap: 16px;
    }

    .form-group textarea {
        margin: 8px 0;
        min-height: 111px;
    }


    .footer1col img {
        max-width: 211px
    }

    .footer1col h4 {
        font-size: 27px;
        margin: 12px 0 67px;
        margin-left: -17px;
    }

    .footer1col p {
        font-size: 16px;
    }

    .footer2col {
        max-width: 168px;
    }

    .footer3col p {
        font-size: 20px;
    }

    .footer3col>a {
        font-size: 16px;
    }

    .footer4col>p {
        font-size: 20px;
    }


    .modal-content .btnTextMe {
        margin: 0;
        margin-left: -21px;
        padding: 12px 24px;
        font-size: 16px;
        color: #fff;
        min-width: 123px;
    }
}