@media (max-width: 743px) {

    .versionMobile,
    .version450 {
        display: flex;
        border-radius: 5px;
        width: auto;
        height: auto;
        padding: 10px 20px;
        font-size: 14px;
    }

    .versionTablet1100,
    .versionTablet1400,
    .version450 {
        display: none;
    }


    .br {
        display: none;
    }

    .payment-grid ul {
        list-style: none;
        padding-left: 0;
    }

    .bannerMain {
        margin-left: 5px;
    }

    main>.conteiner1800:first-of-type {
        background: url(../img/manipulator/fonDark.png) no-repeat center center,
            url(../img/manipulator/ekskavatorFon.png) no-repeat right bottom,
            url(../img/manipulator/kolesnyy_ekskavatorFonMobile.jpg) no-repeat center center;
        background-size: auto, calc(1144px * 0.3) calc(1118px * 0.3), calc(743px * 1.1) calc(451px * 1.1);
        padding: 10px 10px 0px;
    }

    .bannerMain h2 {
        font-size: 14px;
        margin-bottom: 0;
    }

    .bannerMain h1 {
        line-height: 1.3;
        font-size: 37px;
        width: auto;
    }

    .bannerMain h3 {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .bannerMain ul {
        line-height: 30px;
    }

    .bannerMain ul li {
        font-size: 13px;
        margin-top: -9px;
    }

    .contact-buttons-wrap {
        flex-direction: column;
        gap: 0px;
        margin-top: -5px;
        align-items: flex-start;
        margin-bottom: -10px;
    }

    .leaveRequest {
        font-size: 15px;
        padding: 12px 20px;
        line-height: 1.4;
        height: auto;
        width: auto;
        margin-top: -10px;
    }

    .leaveRequest-wrap {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    .phone-icon-main {
        width: 30px;
        height: 30px;
    }

    .contact-btn .icon-svg {
        width: 34px;
        height: 34px;
    }


    .contact-buttons p {
        display: none;
    }

    .offer-15 {
        top: 227px;
        left: 288px;
        width: 150px;
    }

    .wrapCardGrid {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 0;
    }

    .titleBlock,
    .popular-models h1 {
        font-size: 22px;
        font-weight: 800;
        white-space: wrap;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .breadcrumbs {
        padding: 10px !important;
        line-height: 1.3;
    }

    .seeMore {
        font-size: 20px;
        padding: 14px 20px;
        max-width: 98%;
    }

    .ourAdvantages {
        background: #C4C6C5;
        padding: 30px 0;
    }

    .wrapAdvantagesGrid {
        grid-template-columns: repeat(1, 1fr);
    }

    .advantages-btn {
        display: block;
        margin: 90px auto 0;
        font-size: 20px;
        padding: 15px 36px;
        max-width: 98%;
    }

    .advantages-btn {
        display: block;
        margin: 90px auto 0;
        font-size: 20px;
        padding: 15px 40px;
        max-width: 98%;
    }

    .info-col {
        padding: 7px 30px 38px 30px;
    }

    .infoAboutLoader>.conteiner1240 b {
        font-size: 19px;
    }

    .ozerServices {
        padding: 50px 0;
    }

    .ozerServices .wrapGrid {
        grid-template-columns: repeat(1, 1fr);
    }

    .ozerServices .wrapGrid>div {
        width: 300px;
        padding: 5px;
    }

    .ozerServices .wrapGrid>div:last-of-type {
        margin-bottom: 20px;
    }

    /* .ozerServices img {
        width: 300px;
        height: 250px;
    } */

    .ozerServices p {
        font-size: 18px;
    }

    .ozerServices .ozerServices-text {
        padding: 0 10px;
    }

    .ozerServices-btn {
        font-size: 23px;
        padding: 20px 30px;
        width: 300px;
    }

    .ozerServices .wrapGrid>div:nth-of-type(3) {
        margin-bottom: 0;
    }

    .payment-subtitle {
        font-size: 22px;
    }

    .payment-grid>div {
        padding: 0 10px;
    }

    .payment-desc {
        font-size: 18px;
    }

    .payment-btn {
        font-size: 22px;
        padding: 15px 20px;
        width: 270px;
    }

    .seeMoreShow {
        margin: -90px auto 44px auto;
        font-size: 20px;
        padding: 15px 40px;
        max-width: 98%;
    }

    .seeMoreHide {
        margin: 10px auto 50px auto;
        font-size: 20px;
        padding: 15px 40px;
        max-width: 98%;
    }

    .wrapAdvantagesGrid .text1::before {
        left: 30px;
        top: -26px;
    }

    .wrapAdvantagesGrid .text5::before {
        left: 9px;
        top: -26px;
    }
}

@media (max-width: 450px) {

    .version450 {
        display: flex;
    }

    .versionDesktop,
    .versionTablet1400,
    .versionTablet1100,
    .versionMobile {
        display: none;
    }



    main>.conteiner1800:first-of-type {
        background-size: auto, calc(1144px * 0.25) calc(1118px * 0.25), calc(743px * 1.3) calc(451px * 1.3);
        padding: 10px 10px 25px;
    }

    
}

@media (max-width: 430px) {
    .offer-15 {
        top: 69%;
        left: 195px;
        width: 126px;
    }
}

@media (max-width: 350px) {
    main>.conteiner1800:first-of-type {
        background-size: auto, calc(1144px * 0.2) calc(1118px * 0.2), calc(743px * 1.4) calc(451px * 1.4);
        padding: 5px;
    }

    .bannerMain {
        margin-left: 0px;
    }

    .offer-15 {
        top: 408px;
        left: 175px;
        width: 130px;
    }
}