@media (max-width: 1300px) {

    .versionDesktop,
    .versionTablet1570,
    .versionTablet1300,
    .versionTablet1100,
    .versionMobile {
        display: none;
    }

    .versionTablet1300 {
        display: flex;
    }


    .center-header h1 {
        font-size: 112px;
        line-height: 120px;
        max-width: 583px;
    }

    .center-header-right img {
        margin-top: 20px;
        width: 360px;
    }

    .center-header-right .full-price {
        font-size: 100px;
        position: relative;
        left: 16px;
    }

    .center-header-right .full-price::before {
        content: url(img/cross_2.png);
        position: absolute;
        top: 14px;
        left: 59px;
    }

    .center-header-right .discount-price {
        font-size: 122px;
    }

    .center-header-right {
        gap: 0px;
    }


    .bottom-header button {
        border-radius: 20px;
        padding: 30px 100px;
        font-size: 30px;
    }

    .headerContacts svg {
        width: auto;
        height: auto;
    }

    .headerContacts .WhatsApp {
        height: auto;
    }

    .headerContacts {
        gap: 40px;
    }

    .examplesWorks h2,
    .tariffs h2,
    .aboutMe h2,
    .chooseUs h2,
    .reviews h2,
    .leaveRequest h2 {
        font-size: 40px;
    }

    .works video {
        border-radius: 48px;
        width: calc(1920px / 4);
        height: calc(804px / 4);
        margin-left: -390px;
    }

    .works video[src*="img/work2"] {
        width: calc(1920px / 4);
        height: calc(818px / 4);
    }

    .works video[src*="img/work3"] {
        width: calc(1920px / 4);
        height: calc(818px / 4);
        /* margin-left: -795px; */
    }

    .works-slide {
        max-width: 470px;
    }

    .unmute-btn svg {
        width: 48px;
        height: 48px;
    }

    .unmute-btn {
        width: 75px;
        height: 75px;
        border: 6px solid #F90F4A;
    }

    .main-play-btn {
        left: -167%;
    }

    .works-arrow,
    .reviews-arrow {
        top: 62%;
    }

    .works-dots {
        margin-left: -435px;
    }

    .works-dot {
        width: 20px;
        height: 20px;
    }

    .tariffs {
        padding: 80px 0 128px;
    }

    .tariff {
        padding: 40px 32px;
    }

    .tariff-desc-item:first-child {
        margin-top: 32px;
    }

    .tariff-desc-item.second {
        margin-top: 24px;
    }

    .tariff-title {
        font-size: 32px;
    }

    .tariff-desc {
        font-size: 15px;
        margin-bottom: 51px;
    }

    .tariff-desc-item.third {
        margin-top: 24px;
    }

    .tariff-price {
        font-size: 32px;
    }

    .tariff-old-price {
        font-size: 24px;
        margin-left: -8px;
        position: static;
    }

    .tariff-old-price::after {
        content: url(img/cross2_2.png);
        position: absolute;
        top: 48px;
        left: 7px;
        width: 100%;
        height: 100%;
    }

    .tariff-price {
        gap: 13px;
    }

    .aboutMe h3 {
        font-size: 40px;
    }

    .aboutMe p {
        font-size: 16px;
    }

    .aboutMe p:nth-of-type(2) {
        margin: 64px 0 56px;
    }

    .aboutMe-left {
        flex: 1 1 0;
    }

    .aboutMe h3 {
        max-width: 426px;
    }

    .aboutMe-right {
        width: 240px;
        height: 360px;
    }


    .chooseUs-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .chooseUs-card {
        padding: 32px;
    }

    .chooseUs-title {
        font-size: 20px;
        margin-bottom: 24px;
    }

    .chooseUs-desc {
        font-size: 16px;
    }

    .chooseUs-desc2 {
        font-size: 16px;
        margin-top: 16px;
        margin-bottom: 24px;
    }


    .reviews-slider-wrap .reviews-arrow-prev,
    .reviews-slider-wrap .reviews-arrow-next {
        top: 55%;
    }

    .leaveRequest {
        padding: 56px 0 240px;
    }

    .leaveRequest h2 {
        margin-bottom: 152px;
    }


    .leaveRequest form {
        gap: 24px;
    }

    .leaveRequest form div {
        margin-top: -19px;
        gap: 22px;
    }

    .leaveRequest form input {
        min-width: 368px;
        height: 40px;
        font-size: 16px;
        border-radius: 8px;
    }

    /* Уменьшаем размер placeholder для адаптива */
    .leaveRequest form input::placeholder {
        font-size: 16px;
    }

    .modal-form input::placeholder {
        font-size: 14px;
    }

    .leaveRequest form button {
        padding: 0px 65px;
        font-size: 16px;
        height: 40px;
        border-radius: 8px;
    }

    .leaveRequest form a svg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 1100px) {

    .versionTablet1300 {
        display: none;
    }

    .versionTablet1100 {
        display: flex;
    }


    .works-dots {
        margin-left: 0%;
    }


    .center-header h1 {
        font-size: 95px;
        line-height: 106px;
        max-width: 492px;
    }

    .center-header-right img {
        margin-top: 19px;
        width: 315px;
    }

    .center-header-right .full-price {
        font-size: 89px;
        position: relative;
        left: 7px;
    }

    .center-header-right .full-price::before {
        content: url(img/cross_2.png);
        position: absolute;
        top: 14px;
        left: 59px;
    }

    .center-header-right .discount-price {
        font-size: 107px;
    }

    .center-header-right {
        gap: 0px;
    }


    .bottom-header button {
        border-radius: 14px;
        padding: 27px 80px;
        font-size: 26px;
    }

    .headerContacts svg {
        width: auto;
        height: auto;
    }

    .headerContacts .WhatsApp {
        height: auto;
    }

    .headerContacts {
        gap: 40px;
    }





    .footer-main {
        font-size: 100px;
    }

    .footer-sub {
        font-size: 52px;
    }

    .footer-contacts {
        gap: 20px;
    }

}

@media (max-width: 950px) {

    .versionTablet1100 {
        display: none;
    }

    .versionTablet950 {
        display: flex;
    }



    .center-header h1 {
        font-size: 80px;
        line-height: 85px;
        max-width: 416px;
    }

    .center-header-right img {
        margin-top: 5px;
        width: 240px;
    }

    .center-header-right .full-price {
        font-size: 80px;
        position: relative;
        left: -15px;
    }

    .center-header-right .full-price::before {
        content: url(img/cross_2.png);
        position: absolute;
        top: 14px;
        left: 59px;
    }

    .center-header-right .discount-price {
        font-size: 83px;
    }

    .center-header-right {
        gap: 0px;
    }


    .bottom-header button {
        border-radius: 8px;
        padding: 25px 51px;
        font-size: 20px;
    }

    .headerContacts svg {
        width: 39px;
        height: 39px;
    }

    .headerContacts .WhatsApp {
        height: 45px;
    }

    .headerContacts {
        gap: 40px;
    }



    .footer-main {
        font-size: 72px;
    }

    .footer-sub {
        font-size: 36px;
    }

    .footer-contacts p {
        font-size: 20px;
    }

    .footer-contacts a {
        font-size: 16px;
    }

    .footer-contacts svg {
        width: 39px;
        height: 39px;
    }
}