@media (max-width: 1570px) {

    .versionDesktop,
    .versionTablet1570,
    .versionTablet1300,
    .versionTablet1100,
    .versionTablet950,
    .versionMobile {
        display: none;
    }

    .versionTablet1570 {
        display: flex;
    }

    body {
        overflow-x: hidden;
    }

    .container {
        padding-right: 30px;
        padding-left: 30px;
        overflow-x: hidden;
    }

    .center-header h1 {
        font-size: 152px;
        max-width: 786px;
    }

    .center-header-right {
        gap: 50px;
    }

    .center-header-right img {
        margin-top: 25px;
        width: 420px;
    }

    .center-header-right .full-price {
        font-size: 142px;
        position: relative;
        left: -32px;
    }

    .center-header-right .full-price::before {
        position: absolute;
        top: 11px;
        left: 34px;
        width: 310px;
        height: auto;
    }

    .center-header-right .discount-price {
        font-size: 148px;
    }

    .examplesWorks {
        position: relative;
    }

    .examplesWorks h2,
    .tariffs h2,
    .aboutMe h2,
    .chooseUs h2,
    .reviews h2,
    .leaveRequest h2 {
        font-size: 80px;
    }

    .tariff-title {
        font-size: 48px;
    }

    .tariff-desc {
        font-size: 24px;
    }

    .tariff-price {
        font-size: 48px;
    }

    .tariff-old-price {
        font-size: 32px;
        margin-left: -8px;
        position: static;
    }


    .works {
        position: static;
    }

    .works-arrow,
    .reviews-arrow {
        top: 65%;
    }

    .works video {
        border-radius: 48px;
        width: calc(1920px / 3);
        height: calc(804px / 3);
        margin-left: -590px;
    }

    .works video[src*="img/work2"] {
        width: calc(1920px / 3);
        height: calc(818px / 3);
    }

    .works video[src*="img/work3"] {
        width: calc(1920px / 3);
        height: calc(818px / 3);
        /* margin-left: -795px; */
    }

    .works-slide {
        max-width: 660px;
    }

    .works-dots {
        margin-left: -150px;
    }

    .works-arrow-next,
    .reviews-arrow-next {
        right: -4px;
    }

    .works-arrow-prev,
    .reviews-arrow-prev {
        left: 18px;
    }


    .tariff {
        min-height: auto;
    }

    .tariff-title {
        margin-bottom: 0;
    }

    .aboutMe h3 {
        font-size: 64px;
    }

    .aboutMe p {
        font-size: 24px;
    }

    .aboutMe p:nth-of-type(2) {
        margin: 94px 0;
    }

    .aboutMe-right {
        width: 424px;
    }

    .chooseUs-title {
        font-size: 24px;
    }

    .chooseUs-desc {
        font-size: 20px;
    }

    .chooseUs-card {
        padding: 56px 46px 48px 49px;
        min-height: auto;
    }

    .chooseUs-num {
        font-size: 48px;
    }

    .textReview {
        font-size: 20px;
    }

    .seeReview {
        font-size: 20px;
    }

    .nameFotoReview p {
        font-size: 32px;
    }

    .reviews-card .nameFotoReview img {
        width: 80px;
    }

    /* Сдвигаем отзывы влево для лучшего отображения */
    .reviews-flex {
        transform: translateX(-1100px);
    }

    .reviews-card {
        max-width: 648px;
    }

    .reviews-slider-wrap .reviews-arrow-prev,
    .reviews-slider-wrap .reviews-arrow-next {
        top: 50%;
    }

    .reviews-slider-wrap .reviews-arrow-prev {
        left: 6px;
    }

    .reviews-slider-wrap .reviews-arrow-next {
        right: -23px;
    }

    .leaveRequest form input {
        min-width: 648px;
        height: 64px;
        font-size: 24px;
    }

    .leaveRequest form button {
        padding: 0px 115px;
        font-size: 28px;
        height: 64px;
    }

    .leaveRequest form a svg {
        width: 64px;
        height: 64px;
    }

    .leaveRequest form div {
        gap: 49px;
    }


    .footer-main {
        font-size: 128px;
    }

    .footer-sub {
        font-size: 64px;
    }
}