* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body > a {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 120px 0 120px 120px;
    text-decoration: none;
    background-color: #2277E6;
    position: relative;
    width: 2560px;
    height: 726px;
    border-radius: 25px;
    overflow: hidden;
}

h1 {
    font-size: 104px;
    line-height: 120px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.02em;
}

img[src="img/bc.svg"] {
    position: absolute;
    top: -330px;
    right: -280px;
    z-index: 0;
}
img[src="img/people1.png"] {
    position: absolute;
    bottom: 0;
    right: 562px;
    z-index: 2;
}
img[src="img/people2.png"] {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}