@media (max-width: 743px) {
    .br {
        display: none;
    }

    .payment-grid ul {
        list-style: none;
        padding-left: 0;
    }

    .bannerMain {
        margin-left: 5px;
    }

    main > .conteiner1800:first-of-type {
        background: url(../img/fonBildingTablet1.jpg) no-repeat center center;
        background-size: 1100px 781px;
        background-position: -277px -118px;
        height: auto;
        padding: 20px 0;
    }

    .bannerMain h2 {
        font-size: 14px;
        margin-bottom: 0;
    }

    .bannerMain h1 {
        line-height: 1.3;
        font-size: 37px;
        width: auto;
    }

    .bannerMain h3 {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .bannerMain ul li {
        font-size: 13px;
        margin-top: -9px;
    }

    .contact-buttons-wrap {
        flex-direction: column;
        gap: 0px;
        margin-top: -5px;
        align-items: flex-start;
    }

    .leaveRequest {
        font-size: 15px;
        padding: 8px 20px;
        line-height: 1.4;
        height: 60px;
        width: 137px;
        margin-top: -10px;
    }

    .offer-15 {
        display: none;
    }
    .leaveRequest-wrap {
        display: flex;
        align-items: center;
        margin-top: -30px;
        margin-bottom: -23px;
    }
    .offer-15Mobile {
        display: block;
        width: 140px;
    }

    .contact-buttons p {
        display: none;
    }

    .contact-btn .icon-svg {
        width: 42px;
        height: 42px;
    }

    .wrapCardGrid {
        grid-template-columns: repeat(1, 1fr);
    }

    .titleBlock, .popular-models h1 {
        font-size: 22px;
        font-weight: 800;
        white-space: wrap;
        line-height: 1.3;
    }

    .breadcrumbs {
        padding: 10px !important;
        line-height: 1.3;
    }

    .seeMoreShow {
        font-size: 20px;
        padding: 14px 20px;
        max-width: 98%;
    }

    .ourAdvantages {
        background: #C4C6C5;
        padding: 30px 0;
    }

    .wrapAdvantagesGrid {
        grid-template-columns: repeat(1, 1fr);
    }

    .advantages-btn {
        display: block;
        margin: 90px auto 0;
        font-size: 20px;
        padding: 15px 36px;
        max-width: 98%;
    }

    .advantages-btn {
        display: block;
        margin: 90px auto 0;
        font-size: 20px;
        padding: 15px 40px;
        max-width: 98%;
    }

    .info-col {
        padding: 7px 30px 38px 30px;
    }

    .infoAboutLoader > .conteiner1240 b {
        font-size: 19px;
    }

    .ozerServices {
        padding: 50px 0;
    }

    .ozerServices .wrapGrid {
        grid-template-columns: repeat(1, 1fr);
    }

    .ozerServices .wrapGrid > div {
        width: 300px;
        padding: 5px;
    }

    .ozerServices .wrapGrid > div:last-of-type {
        margin-bottom: 20px;
    }

    .ozerServices img {
        width: 300px;
        height: 250px;
    }

    .ozerServices p {
        font-size: 18px;
    }

    .ozerServices-btn {
        font-size: 23px;
        padding: 20px 30px;
        width: 300px;
    }

    .payment-subtitle {
        font-size: 22px;
    }

    .payment-grid > div {
        padding: 0 10px;
    }

    .payment-desc {
        font-size: 18px;
    }

    .payment-btn {
        font-size: 22px;
        padding: 15px 20px;
        width: 270px;
    }

    .seeMoreHide {
        margin: 10px auto 50px auto;
        font-size: 20px;
        padding: 15px 40px;
        max-width: 98%;
    }
}