@media (max-width: 1000px) {
    .turnBusiness h1 br {
        display: none;
    }

    .turnBusiness-links {
        flex-direction: column;
        gap: 15px;
    }

    .turnBusiness-container .turnBusiness-links a:first-child {
        width: 166px;
        margin-left: 15px;
    }
    .turnBusiness-container .turnBusiness-links a:last-child {
        width: 230px;
    }

    .turnBusiness h1 {
        font-size: 40px;
    }

    .turnBusiness {
        gap: 35px;
        max-width: 360px;
    }
    .turnBusiness .iPhone {
        font-size: 19px;
        text-align: center;
    }
    .turnBusiness>p {
        font-size: 19px;
        line-height: 23px;
    }

    .mobils-block1 img:first-child {
        width: calc(316px * 0.7);
        height: calc(636px * 0.7);
        top: 46px;
    }

    .mobils-block1 img:nth-child(2) {
        width: calc(316px * 0.7);
        height: calc(636px * 0.7);
        top: 100px;
        left: 129px;
    }

    .mobils-block1 img:last-child {
        top: 78px;
        left: 202px;
        z-index: 0;
        width: calc(231px * 0.7);
        height: calc(259px * 0.7);
    }

    .turnBusiness-container {
        gap: 50px;
    }
    .mobils-block1 {
        width: 363px;
    }
    .turnBusiness-container {
        margin-top: 60px;
        margin-bottom: 80px;
    }


    .world-first>div:first-child {
        font-size: 35px;
        line-height: 42px;
        max-width: 357px;
        padding-left: 20px;
    }

    .world-first>div:nth-child(2) {
        gap: 14px;
        font-size: 28px;
        line-height: 36px;
        max-width: 304px;
        padding: 24px 19px;
        padding-left: 10px;
    }

    img[src*="kolos2"] {
        right: 0px;
        top: -32px;
        width: calc(192px * 0.7);
    }
    img[src*="kolos1"] {
        left: 0px;
        top: -32px;
        width: calc(192px * 0.7);
    }
    .world-first {
        padding: 15px 0;
    }


    .wrapGridValueProperties {
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }


    .howItWorks-item h5 span {
        font-size: 30px;
        margin-right: 10px;
    }

    .howItWorks-item h5 {
        font-size: 20px;
        margin: 20px 0 16px;
    }

    .howItWorks-item p {
        font-size: 16px;
        line-height: 20px;
    }

    .howItWorks {
        padding: 30px 0;
    }

    .howItWorks>.container>p {
        margin-top: 25px;
    }


    .oneCard-text a {
        font-size: 16px;
        padding: 12px 15px;
        border-radius: 6px;
        width: 251px;
    }
    .oneCard-text p {
        font-size: 16px;
        line-height: 19px;
    }

    /* Уменьшение карусели на 30% */
    .carousel {
        height: calc(617px * 0.8);
    }

    .carousel .carousel-item:not(.carousel-reviews .carousel-item) {
        width: calc(285px * 0.7);
        height: calc(617px * 0.7);
        margin: calc(10px * 0.7);
    }

    .carousel .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: calc(12px * 2);
    }

    .carousel-oneCard {
        width: calc(834px * 0.7);
    }

    .carousel-nav {
        width: calc(76px * 0.7);
        height: calc(76px * 0.7);
    }

    .carousel-nav svg {
        width: calc(36px * 0.7);
        height: calc(38px * 0.7);
    }

    .carousel-prev {
        left: 65px;
    }

    .carousel-next {
        right: 50px;
    }


    .whoItsFor-img {
        background-position: 0 111%;
    }


    .free-paind-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .cancel-anytime-container {
        display: flex;
        flex-direction: column;
        width: 573px;
        margin: 0 auto;
        gap: 25px;
    }
    .cancel-anytime-red {
        background-color: #F06060;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0;
        text-align: center;
        width: 367px;
        height: 96px;
        border-radius: 12px 0 0 12px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 33.5px 32px;
        position: relative;
    }
    .cancel-anytime-white {
        background-color: #fff;
        font-family: DM Sans, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0;
        text-align: center;
        border-radius: 0 12px 12px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        width: 221px;
    }

    .tariffs {
        gap: 50px;
    }


    .reviews-container>.container {
        flex-direction: column;
    }

    .reviews-grid {
        width: auto;
    }

    .qr {
        gap: 24px;
    }


    footer .turnBusiness-links a:last-child {
        padding: 8px 18px;
    }
    footer .apple-svg {
        width: 29px;
    }
    footer .svg-text {
        gap: 1px;
    }
    footer .svg-text svg:first-child {
        width: 111px;
    }
    footer .svg-text svg:last-child {
        width: 115px;
    }

    .footer-left p {
        margin-top: 20.5px;
    }



    .startFree {
        width: 573px;
        margin-left: auto;
        margin-right: auto;
    }
    img[src*="startFree"] {
        position: absolute;
        top: 494px;
        right: 0;
        z-index: -1;
    }
}