@media (max-width: 480px) {
    section, header, footer {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    body {
        overflow-x: hidden;
    }

    .turnBusiness h1 {
        font-size: 20px;
    }
    .turnBusiness {
        max-width: 159px;
    }
    .iPhone-mobile {
        font-size: 11px;
        padding: 0px;
        width: auto;
    }
    .turnBusiness-container {
        gap: 30px;
    }

    .mobils-block1 img:first-child {
        width: calc(142px * 0.9);
        height: calc(307px * 0.83);
        top: -40px;
    }
    .mobils-block1 img:nth-child(2) {
        width: calc(142px * 0.9);
        height: calc(307px * 0.83);
        top: -15px;
        left: 47px;
    }
    .turnBusiness-container {
        margin-top: 70px;
        margin-bottom: 84px;
    }
    .turnBusiness-links a:last-child {
        font-size: 16px;
        padding: 14.5px 0;
        text-align: center;
    }



    .world-first>div:nth-child(2) {
        max-width: 188px;
    }
    .howItWorksImgMobile {
        width: 345px;
        height: 207px;
    }
    .oneCard-text {
        width: 365px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .oneCard-text a {
        padding: 16px 0;
        text-align: center;
        border-radius: 6px;
        width: 100%;
    }



    .carousel .carousel-item:not(.carousel-reviews .carousel-item) {
        width: calc(285px * 0.7);
        height: calc(617px * 0.7);
        margin: calc(10px * 0.7);
    }
    .carousel:not(.carousel-reviews) {
        height: calc(600px * 0.9);
        margin-top: -29px;
    }


    .tariffs>div {
        width: 345px;
    }
    .free-paind:not(.monty-year-plan) {
        width: 345px;
    }
    .plan {
        width: 100%;
    }

    .carousel-reviews .carousel-item {
        width: 226px;
        padding: 12px 30px;
        border-radius: 10px;
    }
    .carousel-reviews .carousel-item div:after {
        right: -29px;
        transform: scale(0.7);
    }
    .carousel-reviews .carousel-item div:before {
        left: -29px;
        transform: scale(0.7);
    }
    .carousel-reviews .carousel-item div {
        padding: 12px;
        min-height: 206px;
        font-size: 14px;
        line-height: 14px;
    }

    .compliance-grid {
        max-width: none;
    }
    .compliance h3 {
        max-width: none;
    }


    .drop-down-blocks {
        width: 345px;
    }
    .faq-text {
        max-width: 345px;
    }
    .carousel-oneCard {
        width: 100%;
    }

    .carousel-reviews {
        display: block;
        margin: -89px 0 -60px;
        width: 100%;
    }

    .oneCard {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 375px) {
    .mobils-block1 img:first-child {
        min-width: calc(142px * 0.9);
        min-height: calc(307px * 0.83);
        top: -40px;
    }

    .howItWorksImgMobile {
        width: 320px;
    }
    .oneCard-text {
        width: 310px;
    }
    .faq-text {
        max-width: 320px;
        gap: 20px;
    }
    .faq-text h2 {
        font-size: 18px;
        line-height: 20px;
    }
    .faq-text img {
        width: 177px;
    }
    .drop-down-blocks {
        width: 320px;
    }
    .drop-down-blocks h6 {
        font-size: 16px;
        line-height: 18px;
    }
    .drop-down-blocks>div {
        padding: 10px;
    }
    .drop-down-blocks p {
        font-size: 13px;
        line-height: 14px;
    }
    .tariffs>div {
        width: 290px;
    }
}

