.container {
    width: 100%;
    max-width: 1200px;
    /* padding: 0 15px; */
    margin: 0 auto;
}

header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
}

.links-anchor {
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links-anchor>div {
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 4px solid transparent;
    padding: 27.5px 16px;
}
.links-anchor>div.active {
    border-bottom: 4px solid #1E1E1E;
}


.test-now {
    font-family: DM sans, sans-serif;
    border: 1px solid #E96262;
    padding: 7.5px 36px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #E96262;
    transition: all 0.3s ease;
}



.turnBusiness-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 65px;
    margin-top: 126.5px;
    margin-bottom: 139px;
}

.turnBusiness {
    font-family: DM sans, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 56px;
    max-width: 612px;
}

.turnBusiness h1 {
    font-family: Exo 2, sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2px;
    color: #1E1E1E;
}
.turnBusiness h1 span {
    color: #F06060;
}

.turnBusiness>p {
    font-family: DM sans, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.turnBusiness-links {
    display: flex;
    gap: 24px;
}
.turnBusiness-links a {
    border-radius: 8px;
    transition: all 0.3s ease;
}
.turnBusiness-links a:first-child {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 9px;
    padding: 9px 9px 8px 13px;
    border: 1px solid #1E1E1E;
}

.svg-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.turnBusiness-links a:last-child {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 15px 36px;
    background: #E96262;
}

.turnBusiness>div:last-child {
    padding: 24px 24px;
    background: #F2F2F5;
    line-height: 24px;
    font-weight: 500;
    font-size: 18px;
}

.mobils-block1 {
    position: relative;
    height: 576px;
    width: 523px;
}
.mobils-block1 img {
    position: absolute;
}
.mobils-block1 img:first-child {
    top: -14px;
    left: -23px;
    z-index: 2;
    width: 316px;
    height: 636px;
}
.mobils-block1 img:nth-child(2) {
    top: 26px;
    /* right: 29px; */
    left: 195px;
    z-index: 1;
    width: 316px;
    height: 636px;
}
.mobils-block1 img:last-child {
    top: -9px;
    left: 303px;
    z-index: 0;
    width: 231px;
    height: 259px;
}


.world-first {
    background-color: #F2F2F5;
    padding: 35px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.world-first>div:first-child {
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    color: #E96262;
    max-width: 347px;
}
.world-first>div:first-child span {
    color: #1E1E1E;
}

.world-first>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0;
    color: #1E1E1E;
    max-width: 364px;
    padding: 24px 19px;
}
.world-first>div:nth-child(2) p:before {
    content: '✦';
    color: #F06060;
}

img[src*="kolos1"] {
    position: absolute;
    top: -88px;
    left: 58px;
    transform: rotate(-6.71deg);
}
img[src*="kolos2"] {
    position: absolute;
    top: -88px;
    right: 55px;
    transform: rotate(6.71deg);
}


.ValueProperties {
    margin: 112px auto 110px;
}
.ValueProperties h2 {
    font-weight: 800;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F06060;
    margin-bottom: 24px;
}
.ValueProperties h2 span {
    color: #1E1E1E;
}

.wrapGridValueProperties {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.valueProperty {
    padding: 50.5px 36px;
    background: #F2F2F5;
    display: flex;
    gap: 36px;
    align-items: center;
}

.number-property {
    width: 100px;
    flex-shrink: 0;
    height: 100px;
    border-radius: 9px;
    background: #F06060;
    position: relative;
}
.number-property span {
    position: absolute;
    top: 61%;
    left: 67%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 128px;
    color: #fff;
}
.wrapGridValueProperties>div:first-child span {
    left: 59%;
}
.valueProperty>div:last-child {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.valueProperty>div:last-child p:last-child {
    font-family: DM sans, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}


.howItWorks {
    background-color: #F2F2F5;
    padding: 45px 0;
}

.howItWorks h2 {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 36px;
}

.wrapHowItWorks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

.howItWorks-item {
    width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.howItWorks-item svg {
    position: absolute;
    top: 125px;
    right: 11px;
}

.howItWorks-item h5 {
    font-weight: 800;
    font-size: 24px;
    margin: 36px 0 16px;
}
.howItWorks-item h5 span {
    font-size: 36px;
    margin-right: 24px;
}

.howItWorks-item p {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
}

.howItWorks>.container>p {
    font-family: DM sans, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0;
    margin-top: 36px;
}